.container {
  margin-top: 1.5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .location {
    text-align: left;

    .city {
      margin: 0;
      font-size: 1.7rem;
      font-weight: 700;
    }

    .country {
      margin: 0.5rem 0 0 0;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .condition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;

    .icon {
      margin: 0;
      width: 4rem;
      height: 4rem;
    }

    .temp {
      margin: 0 0 0 0.5rem;
      font-size: 4rem;
      font-weight: 300;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 0.5rem;
    flex-direction: column;
    border-radius: 20px;

    .location {
      text-align: center;

      .city {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .country {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }

    .condition {
      flex-direction: column;
      text-align: center;

      .icon {
        margin: 0.5rem 0 0 0;
      }

      .temp {
        margin: 0;
        font-size: 3rem;
        font-weight: 200;
      }
    }
  }
}
