.container {
  margin-top: 1.5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  background-color: #202b3b;
  border-radius: 30px;

  .list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: left;

    .dataType {
      flex: auto;
      display: flex;
      justify-content: left;
      align-items: center;

      .icon {
        margin: 0;
        width: 1.5rem;
        height: 1.5rem;
        color: #939aa3;
      }

      .text {
        margin: 0rem 0rem 0rem 1rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: #939aa3;
      }
    }

    .data {
      margin: 1rem 0rem 0rem 0rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 0.5rem;
    border-radius: 15px;

    .list {
      flex-direction: column;
      align-items: flex-start;

      .element {
        margin-bottom: 1rem;
      }

      .dataType {
        .icon {
          width: 1.2rem;
          height: 1.2rem;
        }

        .text {
          font-size: 1rem;
        }
      }

      .data {
        font-size: 1.2rem;
      }
    }
  }
}
