.main {
  width: 100vw;
  padding: 2rem;
  // background-color: #39465a;
  text-align: center;

  .city {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  .tempContainer {
    // background-color: #202b3b;

    .temp {
      margin: 0;
      font-size: 6rem;
      line-height: 1;
      font-weight: 400;
    }

    .feelsLike {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 300;
    }
  }
}
