.container {
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #202b3b;
  border-radius: 20px;

  .searchBar {
    width: 100%;
    height: 3rem;
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #dde0e5;
  }
  .searchBar::placeholder {
    color: #939aa3;
  }
}
