.container {
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  background-color: #202b3b;
  border-radius: 30px;

  .title {
    color: #939aa3;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
  }

  .hourlyList {
    padding: 0;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;

    .hour {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      color: #939aa3;
    }

    .temp {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
    }
  }
}
