.title {
  color: #939aa3;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .title {
    font-size: 0.9rem;
    text-align: center;
  }
}
