.footer {
  background-color: #202b3b;

  .container {
    margin: 0rem 1.5rem 0rem 1.5rem;
    height: 2.5rem;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
